<html>
	<head>
		<title>FlickArea</title>
		<link rel = "stylesheet" type = "text/css" href = "../static/style.css">
	</head>

	<body>
		<div id = "title"> <a href = "/" style = "text-decoration: none;">FlickArea </a> : Use Flickr photos to identify an area box around desired location!</div>
		<hr>
		</br>
		<div class = "body">
			<form action = "/photos" method = "GET">
				Enter the name of the location: <input type = "text" name = "location">
				<input type = "submit" value = "Submit">
			</form>	
	</body>
</html>